<h1>List of Wed Log users</h1>

<ol>
	<% @users.each do |user| %>	
		<li><%= link_to user.username, user_path(user.id)%></li>

<!-- first argument: what you want to call the route, second argument: where do you want the rounte goes to, in this case, the link will be shown as username and will link to user_path(User's page) -->
	<% end %>
</ol>

