<% content_for :use_welcome do %>
<!-- 	<h1>Hello</h1>
	<p>This is a welcome page</p> -->

  <div id="slides">

  	<img src="/assets/engagement2.jpg" width="800px" height="500px"alt="Engagement" />
<!--   	<img src="/assets/engagement3.jpg" width="800px" height="500px"alt="Engagement" />
    <img src="/assets/engagement.jpg" width="800px" height="500px"alt="Engagement" />
  	<img src="/assets/wedding.jpg" width="800px" height="500px"alt="Engagement" />
  	<img src="/assets/wedding2.jpg" width="800px" height="500px"alt="Engagement" /> -->
  </div>
  
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="jquery.slides.min.js"></script>
  <script>
    $(function() {
      $('#slides').slidesjs({
        width: 800,
        height: 500,
        play: {
          active: true,
          auto: true,
          interval: 4000,
          swap: true
        }
      });
    });
  </script>
 <% end -%>

<div id="signup"><h1> Welcome to the H&M Wedding Blog</div>

<div id="login">Nothing here yet</div>
