<% content_for :use_welcome do %>
<!-- 	<h1>Hello</h1>
	<p>This is a welcome page</p> -->

  <div id="slides">
  	<img src="/assets/engagement3.jpg" width="70%" height="600px" alt="Engagement/Wedding" />

  </div>
  
 <% end -%>
<!-- 
<div id="signup"><h1> Welcome to the H&M Wedding Blog</div>

<div id="login">Nothing here yet</div>
 -->