/*@font-face {
        font-family: "myThirdFont";
        src: url(/assets/fonts/badscript.ttf) format("truetype");
    }
*/

@import url("https://fonts.googleapis.com/css?family=Kreon:400,300,700");
@import url("https://fonts.googleapis.com/css?family=Pacifico");


body {
    width: 100%;
    margin: 0;
    background-image: url("backImg.png");
    background-repeat: repeat !important;

/*    background-attachment: fixed;
    /*background-color: #DCF4FF ;*/
}

header {
    /*background-image: url("fawn.png");*/
    background-repeat: repeat-x;
    margin: 0;
    top: 80px;
    left: 0;
    width: 100%;
    height: auto;
    padding: .15em 1em;
/*    background-image: url("header3.jpg");
    background-size: 5%;
    background-repeat: repeat;
*/
}

header ul {
    margin: 0;
    

}

/*header nav{

    padding-top: 50px;
}*/

header nav li {
    display: inline;
    font-family: 'Kreon', serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    padding-top: 5px;


}

header nav li a {
    padding-bottom: 5px;
    display: inline;
    text-decoration: none;
    margin-left: 5%;
    color: #b39eb5;
    text-shadow:
        -1px -1px #FFF,
        1px -1px #FFF,
        -1px 1px #FFF,
        1px 1px #FFF ;
}

header nav li a:hover {
    color: #aec6cf;
    text-shadow:
        -1px -1px #FFF,
        1px -1px #FFF,
        -1px 1px #FFF,
        1px 1px #FFF ;
 } 

div.logo{
    position:relative;
    padding-top: 10px;
    margin-left: 80%;
    margin-bottom: 0;
/*    background-image: url("logo.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 400px;
    height: 230px*/; 
    
}
.title {
    font-family: 'Pacifico', cursive;
    color: #aec6cf;
    text-shadow:
        -1px -1px #FFF,
        1px -1px #FFF,
        -1px 1px #FFF,
        1px 1px #FFF;
    font-size: 60px;
    padding: 0;
    margin: 0;
    z-index: 99;
}

h2{
    color: #FFF5EE;
    font-size: 30px;
    margin: 1% auto 0 5%;
    text-shadow: 2px 2px 2px #D1D0CE;
/*    margin-top: 10px;*/

}


.flash_alert {
    font-size: 16px;
    color: #ffc0b4;
    font-family: 'Kreon', serif;
    font-style: italic;
    padding: 10px;
}

.flash_notice {
    font-size: 16px;
    color: #b39eb5;
    font-family: 'Kreon', serif;
    padding: 10px;
}
