@import url("https://fonts.googleapis.com/css?family=Kreon:400,300,700");
@import url("https://fonts.googleapis.com/css?family=Pacifico");

@font-face {
  font-family: 'badscript';
  src: url('badscript.eot?#iefix') format('embedded-opentype'),  url('badscript.woff') format('woff'), url('badscript.ttf')  format('truetype'), url('badscript.svg#badscript') format('svg');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'Kreon', serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #FFF;
/*  text-shadow: 2px 2px #FFFFFF;*/
  font-weight: bold;
  margin-left: auto;


}

p.cancel {
  color: #FFF;
  font-family: 'Kreon', serif;
  font-weight: 700;
  width: 30%;
  text-align: center;
  font-size: 30px;
  margin: 1% 32%;


} 

#new_user {
  width: 80%;
  margin: auto
}

.signup_form {
    border-color: #c4c4ff;
    border-style: double;
    border-width: 10px; 
    width: 80%;
    height: auto;
    font-family: 'Kreon', serif;
    font-weight: 300;

    
}

.login_form {
    border-color: #c4c4ff;
    border-style: double;
    border-width: 10px; 
    width: 80%;
    /*height: auto;*/
    margin: 50px 6%;
    padding: 50px;
    font-family: 'Kreon', serif;
    font-weight: 300;
    
}

p {
  margin-left: 25%;
  /*color: #413839;*/
}

a {
  color: #FFF;
  text-decoration: none;
}
a:hover {
  color: #c4c4ff;
}

.text_field {
  width: 70%;
  height: 50px;
  font-size: 28px;
  font-family: 'Kreon', serif;
  font-weight: 300;
}

.submit {
  width: 300px;
  height: 100px;
  margin-left: 8%;
  margin-top: 20px;
 /* background-color: rgba(229, 228, 226, 0.7); */
  /*border-radius: 50px;*/
  font-family: 'Kreon', serif;
  font-weight: 400;
  font-size: 20px;
}
.submitbtn {
  width: 300px;
  height: 100px;
  margin: 10px 40%;
}
/*p.submitBtn {
  width: 200px;
  height: 70px;

}
*/
.pform {
  width: 70%;
  height: 50px;
  font-size: 28px;
  font-family: 'Kreon', serif;
  font-weight: 300;
}


p.pemail label {
  width: 70%;
  height: 50px;
  font-size: 28px;
  font-family: 'Kreon', serif;
  font-weight: 300;
  text-align: center;
  padding-right: 63px;
  color: #FFF;

}

p.ppassword label {
  width: 70%;
  height: 50px;
  font-size: 28px;
  font-family: 'Kreon', serif;
  font-weight: 300;
  text-align: center;
  padding-right: 20px;
  color: #FFF;

}

#email {
  width: 45%;
  height: 50px;
  font-size: 25px;
  font-family: 'Kreon', serif;
  font-weight: 300;
}

#password {
  width: 45%;
  height: 50px;
  font-size: 25px;
  font-family: 'Kreon', serif;
  font-weight: 300;
}

a {
  color: #FFF;
}
