@font-face {
  font-family: 'badscript';
  src: url('badscript.eot?#iefix') format('embedded-opentype'),  url('badscript.woff') format('woff'), url('badscript.ttf')  format('truetype'), url('badscript.svg#badscript') format('svg');
  font-weight: normal;
  font-style: normal;
}

header nav{

    padding-top: auto;
}

h1{
	font-size: 50px;
	text-align: center;
	color: #848482;
	text-shadow: 2px 2px #FFFFFF;
	font-weight: bold;
}
.table{
	color: #413839;
	margin-left: 10%;
}
table{
	background-color: rgba(255, 245, 238, 0.4);
	border: 2px solid #848482;
	border-radius: 10px;
}

table, th, tr, td {
	border: 2px solid #848482;
/*    border: 3px solid #848482;*/
    width: 90%;
}

.thead_title{
	font-size: 30px;
	font-weight: bold;
	width: 30%
}

.thead_body{
	font-size: 30px;
	font-weight: bold;
	width: 40%
}
.thead_username{
	font-size: 30px;
	font-weight: bold;
	width: 15%;
}
.thead_date{
	font-size: 30px;
	font-weight: bold;
	width: 15%;
}

.post_list_title {
	font-size: 20px;
	width: 30%;
}
.post_list_body {
	font-size: 20px;
	width: 40%;

}
.post_list_username {
	font-size: 20px;
	width: 15%;
}
.post_list_date {
	font-size: 20px;
	width: 15%;;

}

a{
	color: #413839;
	text-decoration: underline;
}
a:hover{

	color: #F9966B;
}

.table{
	color: #413839;
	margin-left: 10%;
}

p.enter_post{
	text-align: center;
	font-size: 30px;
}

p.login_post{

	text-align: center;
	font-size: 30px;

}

.title_field{
  width: 70%;
  height: 50px;
  font-size: 28px;
  font-family: 'badscript';
}

.body_field{
  width: 70%;
  height: 80px;
  font-size: 25px;
  font-family: 'badscript';
}

.title_label_field{
  font-size: 25px;
  font-family: 'badscript';
  padding-right: 9%;
  text-align: center;
}
.body_label_field{
  font-size: 25px;
  font-family: 'badscript';
  padding-right: 5%;
  text-align: center;
}

.submit{
  width: 50%;
  height: 40px;
  margin-left: 20% ;
  background-color: rgba(229, 228, 226, 0.7); 
  border-radius: 50px;
  font-family: 'badscript';
  font-size: 20px;
}

.edit_field{
	width: 80%;
	margin-left: 15%;
}

h2{
    color: #FFF5EE;
    font-size: 30px;
    margin: 1% auto 0 5%;
    text-shadow: 2px 2px 2px #D1D0CE;
}

p.post_title{
	margin-left: 40%;
	font-size: 25px;
}

p.post_body{
	margin-left: 40%;
	font-size: 25px;
}

hr{
	width: 100%;
	background-color: rgba(120, 199, 199, 0.7);
	height: 4px;
}

.post_area{
	background-color: rgba(255, 245, 238, 0.4);
	border: 2px solid #848482;
	border-radius: 10px;
}

.edit .cancel{
	width: 100px;
	font-size: 18px;
	margin: 0;

}

.delete{
	width: 120px;
	font-size: 18px;
	margin: 0;

}

.comment{
	font-size: 20px;
	text-align: center;
}

h4{
	font-size: 20px;
	text-align: center;
	text-decoration: underline;
}

#comment_comment_body{
	width: 40%;
	height: 55px;
	font-family: 'badscript';
	font-size: 18px;
	margin-left: 30%;
}
.submit{
  width: 15%;
  height: 40px;
  margin-left: 42.5%;
  margin-top: 20px;
  background-color: rgba(229, 228, 226, 0.7); 
  border-radius: 50px;
  font-family: 'badscript';
  font-size: 18px;
}






