@import url("https://fonts.googleapis.com/css?family=Kreon:400,300,700");
@import url("https://fonts.googleapis.com/css?family=Pacifico");

header nav{

    padding-top: auto;
}

h1 {
	font-family: 'Kreon', serif;
  	font-weight: 700;
	font-size: 50px;
	text-align: center;
	color: #FFF;
}
.table {
	font-family: 'Kreon', serif;
	font-weight: 400;
	color: #413839;
	margin-left: 10%;
	background-color: rgba(255, 245, 238, 0.2);
}
table {
	/*background-color: rgba(255, 245, 238, 0.4);*/
	border: 3px solid #f6f6f3;
	border-radius: 10px;
}

table, th, tr, td {
	border: 2px solid #f6f6f3;
    width: 90%;
    padding: 10px;
}


.thead_title {
	font-size: 23px;
	font-weight: bold;
	width: 30%;
	text-align: center;
	color: #917394;
	text-decoration: none;
	text-shadow:
	    -1px -1px #FFF,
        1px -1px #FFF,
        -1px 1px #FFF,
        1px 1px #FFF;
}

.thead_body {
	text-align: center;
	font-size: 23px;
	font-weight: bold;
	width: 40%;
	color: #917394;
	text-decoration: none;
	text-shadow:
	    -1px -1px #FFF,
        1px -1px #FFF,
        -1px 1px #FFF,
        1px 1px #FFF;
}
.thead_username {
	text-align: center;
	font-size: 23px;
	font-weight: bold;
	width: 15%;
	color: #917394;
	text-decoration: none;
	text-shadow:
	    -1px -1px #FFF,
        1px -1px #FFF,
        -1px 1px #FFF,
        1px 1px #FFF;
}
.thead_date {
	text-align: center;
	font-size: 23px;
	font-weight: bold;
	width: 15%;
	color: #917394;
	text-decoration: none;
	text-shadow:
	    -1px -1px #FFF,
        1px -1px #FFF,
        -1px 1px #FFF,
        1px 1px #FFF;
}

.post_list_title {
	font-size: 20px;
	width: 30%;
}

.post_list_title a {
	color: #917394;
	text-decoration: none;
	text-shadow:
	    -1px -1px #FFF,
        1px -1px #FFF,
        -1px 1px #FFF,
        1px 1px #FFF;
}

.post_list_title a:hover {
	color: #aec6cf;
}

.post_list_body {
	color: #4f4f4f;
	font-size: 18px;
	width: 40%;

}
.post_list_username {
	color: #4f4f4f;
	font-size: 18px;
	width: 15%;
}
.post_list_date {
	color: #4f4f4f;
	font-size: 18px;
	width: 15%;

}


.table {
	color: #413839;
	margin-left: 10%;
}

p.enter_post {
	color: #FFF;
	font-family: 'Kreon', serif;
  	font-weight: 400;
	text-align: center;
	font-size: 30px;
}
/*.enter_post a {
	color: #FFF;
}
*/
p.login_post {
	color: #FFF;
	font-family: 'Kreon', serif;
  	font-weight: 400;
	text-align: center;
	font-size: 30px;
}
.login_post a, .enter a {
	color: #FFF;
}

.login_post a:hover, .enter a:hover {
	color: #c4c4ff;
}

.title_field {
  width: 70%;
  height: 50px;
  font-size: 28px;
  font-family: 'Kreon', serif;
  font-weight: 300;
}

.body_field {
  width: 70%;
  height: 80px;
  font-size: 25px;
  font-family: 'Kreon', serif;
  font-weight: 300;
}

.title_label_field {
  font-size: 25px;
  font-family: 'Kreon', serif;
  font-weight: 300;
  padding-right: 9%;
  text-align: center;
}
.body_label_field {
  font-size: 25px;
  font-family: 'Kreon', serif;
  font-weight: 300;
  padding-right: 5%;
  text-align: center;
}

.submit {
  width: 50%;
  height: 40px;
  margin-left: 20% ;
  background-color: rgba(229, 228, 226, 0.7); 
  border-radius: 50px;
  font-family: 'Kreon', serif;
  font-weight: 400;
  font-size: 20px;
}

.edit_field {
	width: 80%;
	margin-left: 15%;
}

h2 {
    color: #FFF5EE;
    font-size: 30px;
    margin: 1% auto 0 5%;
    text-shadow: 2px 2px 2px #D1D0CE;
}

p.post_title {
	color: #4f4f4f;
	width: 60%;
	margin: 20px 20%;
	text-align: center;
	font-size: 25px;
	padding: 10px;
	border-bottom: 1px solid #fffdd0;
}


p.post_body {
	color: #4f4f4f;
	width: 60%;
	margin: 30px 20%;
	font-size: 25px;
	padding: 15px;
	border-bottom: 1px solid #fffdd0;
}

hr {
	width: 100%;
	color: #fffdd0;
	height: 1px;
}

.post_area {
	font-family: 'Kreon', serif;
	width: 60%;
	margin: 30px 20%;
	background-color: rgba(255, 245, 238, 0.2);
    border-color: #fffdd0;
    border-style: double;
    border-width: 10px; 
    border-radius: 5px;
}

.edit, .delete {
	width: 50px;
	margin: 30px auto;
	float: left;
}
.edit a, .delete a {
	color: #4f4f4f;
	text-align: center;
	width: 100px;
	border: 1px solid #FFF;
	background-color: #FFF;
	border-radius: 10px;
	padding: 7px;
	font-size: 13px;
	font-family: 700;
	margin: 0;
	text-decoration: none;
}
/*.cancel a {

}
*/
.comment_body {
	width: 60%;
	margin: 10px 20%;
	color: #4f4f4f;
	font-size: 20px;
}
.comment_username {
	width: 60%;
	margin: 5px 20%;
	color: #4f4f4f;
	font-size: 15px;
}

h4 {
	font-size: 20px;
	text-align: center;
	text-decoration: underline;
}

#comment_comment_body {
	color: #4f4f4f;
	width: 40%;
	height: 55px;
    font-family: 'Kreon', serif;
    font-weight: 300;
	font-size: 18px;
	margin-left: 30%;
}

#post_title {
	width: 40%;
	height: 35px;
    font-family: 'Kreon', serif;
    font-weight: 300;
	font-size: 18px;
	margin-left: 30%;
	margin-bottom: 5%;
}

#post_post_body {
	width: 40%;
	height: 55px;
    font-family: 'Kreon', serif;
    font-weight: 300;
	font-size: 18px;
	margin-left: 30%;
}
.submit {
	width: 15%;
	height: 40px;
	margin-left: 42.5%;
	margin-top: 20px;
	background-color: rgba(229, 228, 226, 0.7); 
	border-radius: 50px;
    font-family: 'Kreon', serif;
    font-weight: 300;
	font-size: 18px;
	}
.cancel {
	width: 15%;
	height: 40px;
	margin-left: 42.5%;
	margin-top: 20px;
	background-color: rgba(229, 228, 226, 0.7); 
	border-radius: 50px;
    font-family: 'Kreon', serif;
    font-weight: 300;
	font-size: 18px;
	text-align: center;
	}

.loginMsg {
	color: #4f4f4f;;
	font-size: 18px;
}

.loginMsg a {
	color: #4f4f4f;
}

.loginMsg a:hover {
	color: #b39eb5;
	text-shadow:
	 -1px -1px #FFF,
	 1px -1px #FFF,
	 -1px 1px #FFF,
	 1px 1px #FFF;
}

