@font-face {
  font-family: 'badscript';
  src: url('badscript.eot?#iefix') format('embedded-opentype'),  url('badscript.woff') format('woff'), url('badscript.ttf')  format('truetype'), url('badscript.svg#badscript') format('svg');
  font-weight: normal;
  font-style: normal;
}
.user_page {
	width: 100%;
	height: auto;

}
.user_info .user_post {
	width: 80%;
	margin-left: 10%;
	font-size: 20px;
}


.line {
	position: absolute;
	top: 70%;
	left: 40%;
	width: 1%;
	height: 100%;
	background-image: url("line.png");
	background-repeat: repeat;
	background-size: 100%;
	background-position: center;
}


h3 {

	font-size: 25px;
	text-align: center;
	color: #848482;
	text-shadow: 2px 2px #FFFFFF;
	font-weight: bold;
	text-align: left;
    }

}

h2 { 
    color: #FFF5EE;
    font-size: 30px;
    margin: 1% auto 0 5%;
    text-shadow: 2px 2px 2px #D1D0CE;
 }

ul.member_list {
	text-decoration: none;
	width: 70%;
	margin-left: 15%;
	background-color: rgba(255, 245, 238, 0.4);
	border: 2px solid #848482;
	border-radius: 10px;
}

li.user_list {
	text-decoration: underline;
	font-size: 28px;
	list-style: none;
	display: inline-block;
	padding: 5%;

}
a:hover {
	color: #F9966B;
	font-size:105%;
}

a {
	color: #413839;

}

h1 {
	font-size: 50px;
	text-align: center;
	color: #848482;
	text-shadow: 2px 2px #FFFFFF;
	font-weight: bold;
}
.username {
    color: #413839;
    font-size: 25px;
/*    margin: 1% auto 0 5%;*/
    text-shadow: 2px 2px 2px #D1D0CE;
}

li.user_post_list{
	font-size: 25px;
	text-decoration: none;
}

p.userinfo {
	font-size: 25px;
	text-align: center;
}
p.back {
	font-size: 20px;
	text-align: center;
}

p.loginprofile {

	
}