// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#signup_form{
	width: 70%;
	height: auto;
	margin-left: 15%;
	background-color: rgba(255, 245, 23, 0.8);
	
}