
@import url("https://fonts.googleapis.com/css?family=Kreon:400,300,700");
@import url("https://fonts.googleapis.com/css?family=Pacifico");

/*header nav li a {
    padding-bottom: 5px;
    display: inline;
    text-decoration: none;
    margin-left: 5%;
    color: #b39eb5;
    text-shadow:
        -1px -1px #FFF,
        1px -1px #FFF,
        -1px 1px #FFF,
        1px 1px #FFF ;
}

header nav li a:hover {
    color: #FFF;
    text-shadow:
        1px 1px #b39eb5,
        3px 1px #b39eb5,
        1px 3px #b39eb5,
        3px 3px #b39eb5 ;
 } 
*/
a.active{
    text-decoration: none;
}

#slides {
    margin: 30px 10%;
    width: 80%;
    }

img.top-image {
      width: 75%;
      margin: 20px 12.5%;
      height: 600px;
      border: none;
      border-radius: 20px;
      opacity: 0.7;
    }

.container {
      margin: 0 auto
    }

 h2 {
    color: #FFF5EE;
    font-size: 30px;
    margin: 1% auto 0 5%;
    text-shadow: 2px 2px 2px #D1D0CE;
/*    margin-top: 10px;*/
}
h3  {
    color: #413839;
    font-size: 25px;
    text-shadow: 2px 2px 2px #D1D0CE;
}

.logoutmsg{
    font-size: 25px;
    color: #848482;
    text-shadow: 2px 2px #FFFFFF;

}
